# Created by .gitignore support plugin (hsz.mobi)
### Java template
*.class

# Package Files #
*.jar
*.war
*.ear

hs_err_pid*
*._story
loadTestData.sh
*.iml
**/*.iml
*.ipr
*.iws
*.db
build
lib
.classpath
.project
.settings
.idea
classes
*.hsp
.gradle
